<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="0"
    android:versionName="v0.2.0">

    <uses-feature android:name="android.software.live_wallpaper" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31"
        android:theme="@style/Theme.MaterialComponents.DayNight"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.SettingsActivity"
            android:label="@string/title_activity_settings" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.AddDirectoryActivity" android:exported="false" android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.SelectDirActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.ViewHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.ShareWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"/>
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.SwitchWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.OpenCurrentWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.OpenPreviousWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.OpenCurrentWallpaperOnPixivActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" />
        <activity android:name="com.da3dsoul.WallpaperSwitcher.Activity.OpenCurrentWallpaperOnDa3dsoulActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" />

        <service
            android:name="com.da3dsoul.WallpaperSwitcher.WallpaperSwitcher"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>
</manifest>