<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.da3dsoul.WallpaperSwitcher"
    android:versionCode="0"
    android:versionName="v0.2.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="Q"
        android:theme="@style/Theme.MaterialComponents.DayNight"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity android:name=".SelectDir" android:exported="false" />
        <activity android:name=".ViewHistoryActivity" android:exported="true" android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ShareWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".SwitchWallpaperActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".OpenCurrentWallpaper"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".OpenPreviousWallpaper"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".OpenCurrentWallpaperOnPixiv"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".WallpaperSwitcher"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <receiver android:name=".ScreenEventReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>
</manifest>